<!-- <ngx-masonry [options]=""> -->
<!-- <div class="col-md-4" *ngFor="let item of items">
  <img [src]="item.url" alt="GIF" class="masonry-item-image" />
</div> -->
<!-- </ngx-masonry> -->

<!-- <mat-grid-list cols="3" rowHeight="1:1" class="masonry-list">
  <mat-grid-tile class="masonry-item" *ngFor="let item of items">
    <div class="masonry-item-container">
      <img [src]="item.url" alt="GIF" class="masonry-item-image" />
      <p class="masonry-item-detail">hello</p>
    </div>
  </mat-grid-tile> -->
<!-- <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile> -->
<!-- </mat-grid-list> -->
<div class="grid-list-container" fxLayoutAlign="center start">
  <div *ngFor="let row of gridItems" class="column-grid-list-wrapper">
    <div *ngFor="let item of row" class="single-grid-list">
      <mat-card class="item-container" (click)="toggleExpansion(item)">
        <img [src]="item.url" alt="GIF" class="item-image" />
        <!-- Please add and animation view here  -->
        <div class="item-content" *ngIf="item.expanded">
          <!-- Your content here -->
          <div class="item-content-description-container" *ngIf="item.title">
            <p class="item-content-description">
              <b class="item-content-description-title">Title: </b
              >{{ item.title }}
            </p>
          </div>
          <div class="item-content-description-container" *ngIf="item.username">
            <p class="item-content-description">
              <b class="item-content-description-title">Username: </b
              >{{ item.username }}
            </p>
          </div>
          <div class="item-content-description-container" *ngIf="item.rating">
            <p class="item-content-description">
              <b class="item-content-description-title">Rating: </b>
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="star"
                class="star-icon"
                *ngFor="let _ of [].constructor(getStarRating(item))"
              ></mat-icon>
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="star_border"
                class="star-icon"
                *ngFor="
                  let _ of [].constructor(maxRating - getStarRating(item))
                "
              ></mat-icon>
            </p>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
