<div class="container">
  <h1>Giphy Explorer</h1>
  <!-- Search input  -->
  <input
    type="text"
    [(ngModel)]="searchQuery"
    placeholder="Search GIFs"
    (keyup)="onSearch()"
    class="input-gif-search"
  />
  <!-- Trending gifs container (default display) -->
  <div class="gifs" *ngIf="searchResults.length == 0">
    <h2>Trending GIFs</h2>

    <app-grid-list
      [items]="trendingGifs"
      (selectItem)="(selectGif)"
    ></app-grid-list>
  </div>

  <!-- Search results container (display when search) -->
  <div class="search-results" *ngIf="searchResults.length > 0">
    <h2>Search Results</h2>
    <app-grid-list
      [items]="searchResults"
      (selectItem)="(selectGif)"
    ></app-grid-list>
  </div>
</div>
