<mat-card class="item-container" (click)="toggleExpansion()">
  <!-- Gif display  -->
  <div class="background" *ngIf="isLoading">
    <!-- Placeholder background -->
    Loading...
  </div>
  <img
    [src]="item.url"
    alt="GIF"
    class="item-image"
    loading="eager"
    (load)="onLoadDone()"
    [ngClass]="{
      hidden: isLoading,
      'image-loading': isLoading,
    }"
  />
  <!-- Gif expansion description  -->
  <div class="item-content" *ngIf="isExpanded">
    <!-- Title container -->
    <div class="item-content-description-container" *ngIf="item.title">
      <p class="item-content-description">
        <b class="item-content-description-title">Title: </b>{{ item.title }}
      </p>
    </div>
    <!-- Username container -->
    <div class="item-content-description-container" *ngIf="item.username">
      <p class="item-content-description">
        <b class="item-content-description-title">Username: </b
        >{{ item.username }}
      </p>
    </div>
    <!-- Rating container -->
    <div class="item-content-description-container" *ngIf="item.rating">
      <p class="item-content-description">
        <b class="item-content-description-title">Rating: </b>
        <!-- Rating star display -->
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="star"
          class="star-icon"
          *ngFor="let _ of [].constructor(getStarRating(item))"
        ></mat-icon>
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="star_border"
          class="star-icon"
          *ngFor="let _ of [].constructor(maxRating - getStarRating(item))"
        ></mat-icon>
      </p>
    </div>
  </div>
</mat-card>
